@model WorstBracketBingo.Models.BracketBingoViewModels.BoardsViewModel

@{
    ViewData["Title"] = Model.Bracket.Title + " Boards";
}

<div>
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="mb-3">
        <a asp-action="Details" asp-route-id="@Model.Bracket.BracketID" class="btn btn-secondary">Back to Bracket</a>
    </div>
</div>

@if (Model.FirstBingos != null && Model.FirstBingos.Count > 0)
{
    <h4>Results</h4>
    <dl class="row">
        <dt class="col-sm-3">
            First Bingo
        </dt>
        <dd class="col-sm-9">
            Round @Model.FirstBingos.First().Round.RoundNumber<br />
            @for(int i = 0; i < Model.FirstBingos.Count(); i++)
            {
                @Model.FirstBingos[i].BingoBoard.Title<br />
            }
        </dd>
    </dl>
}

@{ 
    var first = true;
}
<ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
    @foreach (var board in Model.Bracket.BingoBoards)
    {
        var active = "";
        if(first == true)
        {
            active = "active";
            first = false;
        }

        <li class="nav-item">
            <a class="nav-link @active" id="pills-@board.BingoBoardID-tab" data-toggle="pill" href="#pills-@board.BingoBoardID" role="tab">@board.Title</a>
        </li>

    }
</ul>
@{
    first = true;
}
<div class="tab-content" id="pills-tabContent">
    @foreach (var board in Model.Bracket.BingoBoards)
    {
        var active = "";
        if (first == true)
        {
            active = "show active";
            first = false;
        }

        <div class="tab-pane fade @active" id="pills-@board.BingoBoardID" role="tabpanel">
            <hr />
            <h1 class="display-4 text-center">@board.Title</h1>
            <hr />
            <div class="row justify-content-center ml-lg-5 mr-lg-5 ml-1 mr-1">
                    @for (int i = 0; i < board.BoardPieces.Count; i++)
                    {
                        if (i % 5 == 0 && i > 0)
                        {
                            @:</div><div class="row justify-content-center ml-lg-5 mr-lg-5 ml-1 mr-1">
                        }
                        <div class="col-2" style="padding: 0" data-toggle="popover" title="@board.BoardPieces[i].Contender.Entrant.Name" data-content="@board.BoardPieces[i].Contender.Entrant.Tag">
                            @{ 
                                var eliminated = board.BoardPieces[i].Contender.Eliminated == true ? "eliminatedThumb" : "";
                            }

                            <img class="img-fluid @eliminated" src="@Url.Content("~/images/uploads/" + @board.BoardPieces[i].Contender.Entrant.Thumbnail)" alt="" />
                            @if (board.BoardPieces[i].Contender.Eliminated == true)
                            {
                                <div class="eliminatedOverlay"></div>
                            }
                        </div>
                    }
            </div>
        </div>
    }
</div>

<div class="mt-3">
    <a asp-action="Details" asp-route-id="@Model.Bracket.BracketID" class="btn btn-secondary">Back to Bracket</a>
</div>

@section Scripts {
    <script src="~/js/bingoBoard.js"></script>
}