@model WorstBracketBingo.Models.Bracket
@section Scripts
{
    <script src="@Url.Content("~/js/bracket.js")"></script>
}
@section Styles {
    <link href="@Url.Content("~/css/bracket.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = Model.Title;
}

<div>
    <h2>@Model.Title</h2>
    <hr />
    <div>
        <a asp-action="ViewBoards" asp-route-id="@Model.BracketID">View Bingo Boards</a>
    </div>
    <div>
        <a href="#round-@Model.Rounds.Count">Current Round: @Html.DisplayFor(model => model.Rounds.Count)</a>
    </div>
</div>
@{
    int rnd = 1;
    foreach (var round in Model.Rounds)
    {
        if(round.RoundNumber == Model.Rounds.Count)
        { 
            @:<div id="currentRound">
        }
        else
        {
            @:<div>
        }
            
        @:<h2 id="round-@rnd">Round @(rnd++)</h2>
        @:<hr />
        @:<div class="row">

        int cnt = 0;
        foreach (var roundContender in round.RoundContenders)
        {
            if (cnt++ % 6 == 0)
            {
                @:</div><div class="row">
            }
            var overlayClass = "contenderOverlay";
            if (roundContender.Contender.Eliminated == true && roundContender.Contender.RoundsAlive == rnd - 1)
            {
                overlayClass = "contenderEliminated";
            }

            @:<div class="col-md-2 col-xs-4">
                <div class="thumbnail" data-contenderId="@roundContender.ContenderID">
                    <div style="position: relative; width: 100%;">
                        <img class="contenderMain" src="@Url.Content("~/images/uploads/" + @roundContender.Contender.Entrant.Thumbnail)" alt="" />
                        <img id="contenderOverlay" class="@overlayClass" src="@Url.Content("~/images/cross.png")" alt="" />
                    </div>
                    <div class="caption">
                        <h4>@roundContender.Contender.Entrant.Name</h4>
                    </div>
                </div>   
            @:</div>
        }

        @:</div>
        @:</div>
    }
}
<div>
    <a asp-action="NextRound" asp-route-id="@Model.BracketID">Start Next Round</a> |
    <a asp-controller="BingoBoards" asp-action="Create" asp-route-id="@Model.BracketID">Add New Board</a> |
    <a asp-action="Index">Back to List</a>
</div>
